* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 77px 1fr 1fr 77px;
  grid-template-rows: min-content 1fr min-content;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header"
    ". page page ."
    "footer footer footer footer";
}

header {
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  line-height: 25.18px;
  letter-spacing: -0.08em;
  padding: 40px 77px 0 77px;
  text-transform: uppercase;
  color: #333333;
  grid-area: header;
}

.page {
  grid-area: page;
  display: flex;
}

.hero-image-container {
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image {
  max-width: 500px;
  width: 100%;
  min-width: 0;
  height: auto;
}

.info-and-button {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 24px;
}

.info-and-button h1 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;
  color: #333333;
  margin: 0;
}

.info-and-button p {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
  margin: 36px 0 64px 0;
}

.info-and-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  height: 68px;
  width: fit-content;
  min-width: 216px;
  color: #ffffff;
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.info-and-button a:hover {
  background-color: #4f4f4f;
}

footer {
  color: #bdbdbd;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 24px 0;
  grid-area: footer;
}

footer a:visited {
  color: #bdbdbd !important;
}

body.dark-theme {
  background: black;
}

body.dark-theme header,
body.dark-theme .info-and-button h1,
body.dark-theme .info-and-button p {
  color: #ebeef6;
}

@media only screen and (max-width: 1065px) {
  .info-and-button h1 {
    font-size: 50px;
    line-height: 80px;
  }

  .info-and-button p {
    font-size: 22px;
    line-height: 28px;
  }

  .info-and-button a {
    height: 56px;
    min-width: 198px;
    font-size: 12px;
    line-height: 16px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    grid-template-columns: 48px 1fr 1fr 48px;
  }

  header {
    padding: 40px 48px 0 48px;
  }

  .info-and-button h1 {
    font-size: 40px;
    line-height: 55px;
  }

  .info-and-button p {
    font-size: 18px;
    line-height: 24px;
    margin: 28px 0 56px 0;
  }

  .info-and-button a {
    height: 50px;
    min-width: 190px;
    font-size: 12px;
    line-height: 16px;
  }
}

@media only screen and (max-width: 560px) {
  body {
    grid-template-columns: 24px 1fr 1fr 24px;
  }

  header {
    padding: 40px 24px 0 24px;
  }

  .page {
    flex-direction: column;
  }

  .hero-image-container {
    padding-top: 64px;
    padding-bottom: 60px;
  }

  .hero-image {
    max-width: 286px;
  }

  .info-and-button {
    align-items: flex-start;
    justify-content: center;
    padding-left: 0;
  }

  .info-and-button h1 {
    font-size: 40px;
    line-height: 55px;
  }

  .info-and-button p {
    font-size: 18px;
    line-height: 24px;
    margin: 28px 0 56px 0;
  }

  .info-and-button a {
    height: 50px;
    min-width: 190px;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 90px;
  }
}

/* Dark mode */

@media (prefers-color-scheme: dark) {
  body {
    background: black;
  }

  header,
  .info-and-button h1,
  .info-and-button p {
    color: #ebeef6;
  }

  body.light-theme {
    background: white;
  }

  body.light-theme header,
  body.light-theme .info-and-button h1 {
    color: #333333;
  }

  body.light-theme .info-and-button p {
    color: #4f4f4f;
  }
}
